body {
  background: linear-gradient(135deg, #f0f0f0, #ffffff);
  font-family: Verdana, sans-serif;
  color: #000;
  margin: 10px;
  text-align: center;
}
h1 {
    font-size: 0.5vw;
}
.container {
  width: 90%;
  max-width: 1200px; /* Set a maximum width for the container */
  margin: 0 auto; /* Center the container horizontally */
}
h1, h2 {
  font-family: Arial, sans-serif;
  color: #000;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
body {
    background: linear-gradient(135deg, #f0f0f0, #ffffff);
    font-family: Verdana, sans-serif;
    color: #000;
    margin: 0; /* Remove any default body margins */
    padding: 0;
    text-align: center;
}
.nav-links a {
  margin: 0 5px;
  text-decoration: underline;
  color: blue;
}
.card, .table {
  border: 1px solid #000;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 5px;
}
.card {
  padding: 10px;
  margin-bottom: 10px;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table th, .table td {
  border: 1px solid #000;
  padding: 4px;
  font-size: 0.9rem;
}
.table-responsive {
  overflow-x: auto;
}
a {
  text-decoration: underline;
  color: blue;
}
@media (max-width: 576px) {
    table, thead, tbody, th, td, tr {
      display: block;
    }
    thead {
      display: none; /* Hide table headers */
    }
    tr {
      margin-bottom: 1rem;
      border: 1px solid #ddd;
      padding: 0.5rem;
    }
    td {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0.5rem 0;
    }
    td:before {
      content: attr(data-label); /* Use data-label attribute for headers */
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 5px;
      color: #333;
    }
  }
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-container input {
  width: 100%;
  max-width: 500px;
  margin-bottom: 10px;
}
.search-container .btn-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container .form-control {
  width: 100%;
  max-width: 500px;
}
.form-container .btn {
  width: 100%;
  max-width: 500px;
}
.form-container .form-label {
  text-align: left;
  width: 100%;
}
