<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Add Event</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="bg-light">
  <div class="container mt-5">
    <div class="text-center mb-4">
      <h1 class="display-4 text-primary">
        <br></br>
        <pre>
          ░▒▓███████▓▒░ ░▒▓██████▓▒░ ░▒▓██████▓▒░░▒▓███████▓▒░░▒▓██████████████▓▒░░▒▓█▓▒░      ░▒▓█▓▒░░▒▓███████▓▒░▒▓████████▓▒░ 
          ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░      ░▒▓█▓▒░▒▓█▓▒░         ░▒▓█▓▒░     
          ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░      ░▒▓█▓▒░▒▓█▓▒░         ░▒▓█▓▒░     
          ░▒▓█▓▒░░▒▓█▓▒░▒▓████████▓▒░▒▓████████▓▒░▒▓███████▓▒░░▒▓█▓▒░░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░      ░▒▓█▓▒░░▒▓██████▓▒░   ░▒▓█▓▒░     
          ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░      ░▒▓█▓▒░      ░▒▓█▓▒░  ░▒▓█▓▒░     
          ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░      ░▒▓█▓▒░      ░▒▓█▓▒░  ░▒▓█▓▒░     
          ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░░▒▓█▓▒░▒▓████████▓▒░▒▓█▓▒░▒▓███████▓▒░   ░▒▓█▓▒░     
        </pre>
      </h1>
      <br>
      <div class="nav-links">
        <a href="{{ url_for('index') }}" class="btn btn-secondary">Return to Main Page</a>
      </div>
      <br>
    </div>
    <br>

    <!-- Add Event Form -->
    <div class="card p-4 mb-4 form-container">
      <form method="POST" action="/createEvent">
        <div class="mb-3">
          <label for="title" class="form-label">Event Title</label>
          <input type="text" class="form-control" id="title" name="title" placeholder="Enter event title" required>
        </div>
        <div class="mb-3">
          <label for="organisers" class="form-label">Organiser</label>
          <input type="text" class="form-control" id="organisers" name="organisers"
            placeholder="Name of event promoter/organisers (comma separated list for multiple organisers)" required>
        </div>
        <div class="mb-3">
          <label for="venue" class="form-label">Venue</label>
          <input type="text" class="form-control" id="venue" name="venue" placeholder="Enter venue" required>
        </div>
        <div class="mb-3">
          <label for="link" class="form-label">Link</label>
          <input type="text" class="form-control" id="link" name="link" placeholder="Enter link to your event page or ticket sales" required>
        </div>
        <div class="mb-3">
          <label for="datetime" class="form-label">Date & Time</label>
          <input type="datetime-local" class="form-control" id="datetime" name="datetime" required>
        </div>
        <div class="mb-3">
          <label for="tags" class="form-label">Tags</label>
          <input type="text" class="form-control" id="tags" name="tags"
            placeholder="Enter tags (comma separated list) e.g. techno, japan, vinyl" required>
        </div>
        <!-- New Artists field -->
        <div class="mb-3">
          <label for="artists" class="form-label">Artists</label>
          <input type="text" class="form-control" id="artists" name="artists"
            placeholder="Enter artists (comma separated list) e.g. Drake, Rihanna" required>
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Submit</button>
          <a href="{{ url_for('index') }}" class="btn btn-danger">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</body>

</html>
