<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Naarm List</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="bg-light">
  <div class="container mt-5">
    <div class="text-center mb-4">
      <h1 class="display-4 text-primary">
        <br></br>
        <pre>
          ░▒▓███████▓▒░ ░▒▓██████▓▒░ ░▒▓██████▓▒░░▒▓███████▓▒░░▒▓██████████████▓▒░░▒▓█▓▒░      ░▒▓█▓▒░░▒▓███████▓▒░▒▓████████▓▒░ 
          ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░      ░▒▓█▓▒░▒▓█▓▒░         ░▒▓█▓▒░     
          ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░      ░▒▓█▓▒░▒▓█▓▒░         ░▒▓█▓▒░     
          ░▒▓█▓▒░░▒▓█▓▒░▒▓████████▓▒░▒▓████████▓▒░▒▓███████▓▒░░▒▓█▓▒░░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░      ░▒▓█▓▒░░▒▓██████▓▒░   ░▒▓█▓▒░     
          ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░      ░▒▓█▓▒░      ░▒▓█▓▒░  ░▒▓█▓▒░     
          ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░      ░▒▓█▓▒░      ░▒▓█▓▒░  ░▒▓█▓▒░     
          ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░░▒▓█▓▒░▒▓████████▓▒░▒▓█▓▒░▒▓███████▓▒░   ░▒▓█▓▒░     
        </pre>
      </h1>
      <br>
      <div class="nav-links">
        <a href="{{ url_for('add_event') }}" class="btn btn-link">Add an Event</a> |
        <a href="{{ url_for('notes') }}" class="btn btn-link">Notes</a> |
        {% if show_past %}
        <a href="{{ url_for('index') }}" class="btn btn-link">Show Upcoming Events</a>
        {% else %}
        <a href="{{ url_for('past_events') }}" class="btn btn-link">Show Past Events</a>
        {% endif %}
      </div>
    </div>
    <br>

    <div class="container mt-5">

      <!-- Search Bar -->
      <div class="card p-4 mb-4 search-container">
        <p class="mt-3" style="border: 1px solid #ddd; padding: 10px;">
          {% if show_past %}
          You are viewing an archive of <strong>past events</strong> only, to view upcoming events click the link above
          {% else %}
          Welcome to naarmlist, a curated list of events happening in melbourne from the team at <a href="https://linktr.ee/six12naarm" target="_blank">+Six12</a>
          <br></br>
          To add your own event use the link above
          <br></br>
          For assistance or enquiries email <a href="ij.keleher@outlook.com">ij.keleher@outlook.com</a>
          {% endif %}
        </p>
        <!-- if we are in a search AND looking at past events only return items that are in the past -->
        <!-- if we are not in a search AND return ALL past items, with most recent towards the top-->
        {% if search_query %}
        <p class="mt-3" style="border: 1px solid #ddd; padding: 10px;">
          Search results for "{{ search_query }}":
        </p>
        {% else %}
        <p class="mt-3" style="border: 1px solid #ddd; padding: 10px;">
          You can search for events by title, venue, organiser, artist or tag
        </p>
        {% endif %}
        <!-- Search form -->
        {% if search_query %}
          <form method="POST" action="{{ url_for('clear_event_search') }}" class="mb-3">
            <input type="hidden" name="show_past" value="{{ 'true' if show_past else 'false' }}">
            <button type="submit" class="btn btn-primary">Clear Search</button>
          </form>
        {% else %}
          <form method="POST" action="{{ url_for('past_events') if show_past else url_for('index') }}">
            <input type="text" name="search" placeholder="Search events" class="form-control mb-3"
              value="{{ search_query }}">
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
        {% endif %}
      </div>
    </div>
    <!-- Table to display all events -->
    <h3 class="text-center">Events</h3>
    <div class="table-responsive">
      <!-- if there are no events, display a message -->
      {% if not events %}
        <p class="text-center">No events found. Clear search to try again.</p>
      {% endif %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Date & Time</th>
            <th>Title @ Venue</th>
            <th>Organiser</th>
            <th>Tags</th>
            <th>Artists</th>
            <!-- we only show calendar link if this is a current or future event -->
            {% if not show_past %}
            <th>Calendar Link</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for event in events %}
          <!-- Display each event in a table row, some super complicated logic here to render the start date in a readable May 02nd (08:00PM) type format-->
          <tr>
            <td>{{ event['start_datetime'].strftime('%a %B %d') }}{% if event['start_datetime'].day in [1, 21, 31] %}st{% elif
              event['start_datetime'].day in [2, 22] %}nd{% elif event['start_datetime'].day in [3, 23] %}rd{% else %}th{% endif %}
              ({{ event['start_datetime'].strftime('%I:%M%p') }})</td>
            <!-- Display the event title and venue, with a link to the event, prepends http to link to leave our site if required -->
            <td style="word-wrap: break-word">
                <a href="{{ 'https://' + event['link'] if not event['link'].startswith(('http://', 'https://')) else event['link'] }}" target="_blank">{{ event['title'] }}</a> @ {{ event['venue'] }}
            </td>
            <td>{{ event['organisers'] }}</td>
            <td>{{ event['tags'] | join(', ') }}</td>
            <td>{{ event['artists'] | join(', ') }}</td>
            {% if not show_past %}
            <td>
              <a href="{{ url_for('calendar_event', event_id=event['_id']) }}" target="_blank">(add to calendar)</a>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <!-- link to admin login page -->
  <div class="text-center mt-3">
    <br>
    <a href="{{ url_for('admin_login') }}" class="btn btn-secondary">Admin Login</a>
  </div>
</body>

</html>
