<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Naarm List</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="bg-light">
  <div class="container mt-5">
    <div class="text-center mb-4">
      <h1 class="display-4 text-primary">
        <br></br>
        <pre>
          ░▒▓███████▓▒░ ░▒▓██████▓▒░ ░▒▓██████▓▒░░▒▓███████▓▒░░▒▓██████████████▓▒░░▒▓█▓▒░      ░▒▓█▓▒░░▒▓███████▓▒░▒▓████████▓▒░ 
          ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░      ░▒▓█▓▒░▒▓█▓▒░         ░▒▓█▓▒░     
          ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░      ░▒▓█▓▒░▒▓█▓▒░         ░▒▓█▓▒░     
          ░▒▓█▓▒░░▒▓█▓▒░▒▓████████▓▒░▒▓████████▓▒░▒▓███████▓▒░░▒▓█▓▒░░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░      ░▒▓█▓▒░░▒▓██████▓▒░   ░▒▓█▓▒░     
          ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░      ░▒▓█▓▒░      ░▒▓█▓▒░  ░▒▓█▓▒░     
          ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░      ░▒▓█▓▒░      ░▒▓█▓▒░  ░▒▓█▓▒░     
          ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░░▒▓█▓▒░▒▓████████▓▒░▒▓█▓▒░▒▓███████▓▒░   ░▒▓█▓▒░     
        </pre>
      </h1>
      <br>
      <div class="nav-links">
        <a href="{{ url_for('add_event') }}" class="btn btn-link">Add an Event</a> |
        <a href="{{ url_for('notes') }}" class="btn btn-link">Notes</a>
      </div>
    </div>
    <br>

    <div class="container mt-5">

      <!-- Search Bar -->
      <div class="card p-4 mb-4 search-container">
        <p class="mt-3" style="border: 1px solid #ddd; padding: 10px;">
          welcome to naarmlist, a curated list of events happening in melbourne from the team at <a href="https://linktr.ee/six12naarm" target="_blank">+Six12</a>
          <br></br>
          to add your own event use the link above
          <br></br>
          for assistance or enquiries email <a href="ijkeleher@outlook.com">ijkeleher@outlook.com</a>
        </p>
        <form method="POST" action="{{ url_for('index') if not search_query else url_for('clear_event_search') }}" class="d-flex flex-column align-items-center">
          <input type="text" name="search" placeholder="Search events" class="form-control mb-3"
            value="{{ search_query }}">
          <div class="btn-group">
            {% if search_query %}
              <button type="submit" class="btn btn-primary">Clear Search</button>
            {% else %}
              <button type="submit" class="btn btn-primary">Search</button>
            {% endif %}
          </div>
        </form>
        <p class="mt-3" style="border: 1px solid #ddd; padding: 10px;">
          you can use tags, organisers, artists, venues and event titles as search terms
        </p>
      </div>
    </div>
    <!-- Table to display all events -->
    <h3 class="text-center">Events</h3>
    <div class="table-responsive">
      <!-- if there are no events, display a message -->
      {% if not events %}
        <p class="text-center">No events found. Clear search to try again.</p>
      {% endif %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Date & Time</th>
            <th>Title @ Venue</th>
            <th>Organiser</th>
            <th>Tags</th>
            <th>Artists</th>
            <th>Calendar Link</th>
          </tr>
        </thead>
        <tbody>
          {% for event in events %}
          <!-- Display each event in a table row, some super complicated logic here to render the start date in a readable May 02nd (08:00PM) type format-->
          <tr>
            <td>{{ event['start_datetime'].strftime('%a %B %d') }}{% if event['start_datetime'].day in [1, 21, 31] %}st{% elif
              event['start_datetime'].day in [2, 22] %}nd{% elif event['start_datetime'].day in [3, 23] %}rd{% else %}th{% endif %}
              ({{ event['start_datetime'].strftime('%I:%M%p') }})</td>
            <!-- Display the event title and venue, with a link to the event, prepends http to link to leave our site if required -->
            <td style="word-wrap: break-word">
                <a href="{{ 'https://' + event['link'] if not event['link'].startswith(('http://', 'https://')) else event['link'] }}" target="_blank">{{ event['title'] }}</a> @ {{ event['venue'] }}
            </td>
            <td>{{ event['organisers'] }}</td>
            <td>{{ event['tags'] | join(', ') }}</td>
            <td>{{ event['artists'] | join(', ') }}</td>
            <td>
              <a href="{{ url_for('calendar_event', event_id=event['_id']) }}" target="_blank">(add to calendar)</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <!-- link to admin login page -->
  <div class="text-center mt-3">
    <br>
    <a href="{{ url_for('admin_login') }}" class="btn btn-secondary">Admin Login</a>
  </div>
</body>

</html>